//google fonts
@import url(https://fonts.googleapis.com/css?family=Baloo+Paaji|Oswald|Raleway);

//basic test variables
$tc: #566683;
$tcc: #F2F2F2;

//font variables
$raleway: 'Raleway', serif;
$baloo-paaji: 'Baloo Paaji', serif;
$oswald: 'Oswald', serif;


.container-fluid {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/neurons.jpg');
	background-repeat: no-repeat;
	background-size: cover;
<<<<<<< HEAD
	padding-bottom: 140px;
}

.secondSection {
	font-family: $oswald;
=======
	padding-bottom: 460px;
>>>>>>> parent of f984e3d... added more to main.js. started a button dropdown  for the navbar.
}

.header {
	color: $tcc;
	font-family: $oswald;
	.brand-logo{
		font-size:75%;
		color: $tcc;
		background-color: Transparent;
	}
}

.landingDiv {
<<<<<<< HEAD
	padding-top: 150px;
=======
>>>>>>> parent of f984e3d... added more to main.js. started a button dropdown  for the navbar.
	.taskTitle {
		color: $tcc;
		font-family: $oswald;
		font-size: 200%;
	}
	.mainTitle {
		color: $tcc;
		font-family: $oswald;
		font-size: 500%;
	}
}

.startButtons {
	margin: auto;
	width: 250px;
	.signIn {
		margin-left: 15px;
		background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
        color: $tcc;
	}
	.signUp {
		background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
        color: $tcc;
	}
}



