//google fonts
@import url(https://fonts.googleapis.com/css?family=Baloo+Paaji|Oswald|Raleway);

//basic test variables
$tc: #566683;
$tcc: #F3E9D2;

//font variables
$raleway: 'Raleway', serif;
$baloo-paaji: 'Baloo Paaji', serif;
$oswald: 'Oswald', serif;


.firstSection {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/neurons.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 235px;
	margin-left: -15px;
	margin-right: -15px;
}

.secondSection {
	font-family: $oswald;
}

.navbar {
	color: $tcc;
	font-family: $oswald;
}

.landingDiv {
	padding-top: 200px;
	.taskTitle {
		color: $tcc;
		font-family: $oswald;
		font-size: 200%;
	}
	.mainTitle {
		color: $tcc;
		font-family: $oswald;
		font-size: 500%;
	}
}

.startButtons {
	margin: auto;
	width: 200px;
	.signIn {
		margin-left: 15px;
		background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
        color: $tcc;
	}
	.signUp {
		background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
        color: $tcc;
	}
}



