//google fonts
@import url(https://fonts.googleapis.com/css?family=Baloo+Paaji|Oswald|Raleway);

//basic test variables
$tc: #566683;
$tcc: #F2F2F2;
$blk: #000000;

//font variables
$raleway: 'Raleway', serif;
$baloo-paaji: 'Baloo Paaji', serif;
$oswald: 'Oswald', serif;


.firstBack {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/neurons.jpg');
	background-repeat: no-repeat;
	padding-bottom: 200px;
}

.secondSection {
	font-family: $oswald;
	padding-bottom: 460px;
	color: #F2F2F2;
}

.navbar {
	color: $tcc;
	font-family: $oswald;
	.brand-logo{
		font-size:75%;
		color: $tcc;
		background-color: Transparent;
	}
}

.landingDiv {
	padding-top: 150px;
	.taskTitle {
		color: $tcc;
		font-family: $oswald;
		font-size: 200%;
	}
	.mainTitle {
		color: $tcc;
		font-family: $oswald;
		font-size: 500%;
	}
}

.startButtons {
	margin: auto;
	width: 250px;
	.signIn {
		margin-left: 15px;
		background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
        color: $tcc;
	}
	.signUp {
		background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
        color: $tcc;
	}
}

.infoTitle {
	color: $blk;
	}

.infoContent {
		color: $blk;
	}



